.chartsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.chartReports {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.chartReports h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
