.clientsContainer{
    display: flex;
    justify-content: space-between;
}

.clientsTable{
    margin-top: 40px;
}

.clientsTable h1{
    font-size: 20px;
    padding-bottom: 10px;
}

@media (max-width: 768px){
    .clientsContainer{
        flex-direction: column;
    }
}
