.salesContainer{
    display: flex;
    justify-content: space-between;
}

.salesTable{
    margin-top: 40px;
}

.salesTable h1{
    font-size: 20px;
    padding-bottom: 10px;
}

@media (max-width: 768px){
    .salesContainer{
        flex-direction: column;
    }
}
